<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel='stylesheet' id='parent-style-css'  href="/css/oneengine1.css" type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-style-css'  href="/css/oneengine_bootstrap.css" type='text/css' media='all' />
    <link rel="stylesheet" href="/css/profile1.css" type="text/css"/>
    <link rel="stylesheet" href="/css/navbar2.css" type="text/css"/>
    <link rel="stylesheet" href="/css/form-style2.css" type="text/css">
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/navbar2.js" type="text/javascript"></script>
</head>
<body>
    <div id="custom" class="navbar navbar-default" role="navigation" style="z-index:100;">
        <div class="navbar-header">
            <img src="" alt="" style="height:30px; width:30px;margin-top:10px;"/>
            <a class="navbar-brand" href="#">
                BOMBAD
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder" style = "margin-top:7px;">                    <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder" id="nav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="height:20px;"> Contribute </a></li>
                <li><a href="#" style="height:20px;"> Courses </a></li>
                <li><a href="#" style="height:20px;"> Path </a></li>
                <li><a href="#" style="height:20px;"> Help </a></li>
                <li>
                    <a style="height:20px;" href="#" id="user-account1">
                        <% if (user.local.email) { %>
                                <strong><%= user.local.username %></strong>
                        <% } else if (user.facebook.token) { %>
                                <strong><%= user.facebook.name %></strong>
                        <% } else { %>
                                <strong>My Account</strong>
                        <% } %>
                        <b class = "caret"></b>
                    </a>
                    <ul>
                        <li><a href="/profile" style="height:20px;">My Profile</a></li>
                        <li><a href="#" style="height:20px;">Settings</a></li>
                        <li><a href="/logout" style="height:20px;">Log out</a></li>
                    </ul>
                </li>
                <li class="compact-sub-menu1"><a href="/profile" style="height:20px;">My Profile</a></li>
                <li class="compact-sub-menu1"><a href="#" style="height:20px;">Settings</a></li>
                <li class="compact-sub-menu1"><a href="/logout" style="height:20px;">Log out</a></li>
            </ul>
        </div>
    </div>
    <section class="main">
        <section>
            <div class="title1">
                <h1>
                  <% if (user.local.email) { %>
                      <p>
                          <strong><%= user.local.username %></strong>
                      </p>
                  <% } else if (user.facebook.token) { %>
                      <p>
                          <strong><%= user.facebook.name %></strong>
                      </p>
                  <% } else { %>
                      <p>
                          <strong>Welcome Back!</strong>
                      </p>
                  <% } %>
                </h1>
            </div>
        </section>
        <section id="stats">
            <div id="profile-pic1">
                <img src="<%= user.facebook.picture %>"></img>
            </div>
            <br><br><br>
              <div class="template-wrap cf" style="padding-bottom:50px; padding-top:50px;"> <!--#ecf0f1-->
              <div class="container">
                  <div class="row">
                      <div class="counter-wrapper" style="margin:10px 0 10px;">
                          <div class="counter col-md-3">
                              <span class="timer" data-from="0" data-to="54" data-speed="2000" data-refresh-interval="50"></span>
                              <span class="counter-title">Score Points</span>
                          </div>
                          <div class="counter col-md-3">
                              <span class="timer" data-from="0" data-to="4" data-speed="2000" data-refresh-interval="50"></span>
                              <span class="counter-title">Courses Learned</span>
                          </div>
                          <div class="counter col-md-3">
                              <span class="timer" data-from="0" data-to="1" data-speed="2000" data-refresh-interval="50"></span>
                              <span class="counter-title">Contributions</span>
                          </div>
                          <div class="counter col-md-3">
                              <span class="timer" data-from="0" data-to="23" data-speed="2000" data-refresh-interval="50"></span>
                              <span class="counter-title">Days Active</span>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </section>

        <!-- CHANGE LOCAL INFORMATION -->
        <section>
            <div class="content1">
                <div id="avatarheader">
                    <h2>Edit Profile</h2>
                </div>
                <hr><br>
                <div>
                  <form action="/profile" method="post">
                      <ul class="ul-list">
                          <li>
                              <label for="id">ID Number</label><br>
                              <input id="id" name="idNumber" type="text" required class="input" placeholder="<%= user._id %>" readonly/>
                          </li>
                          <li>
                              <label for="changeName">Name</label><br>
                              <input id="changeName" name="nameChange" type="text" required class="input" placeholder=""/>
                          </li>
                          <li>
                              <label for="changeUsername">Username</label><br>
                              <input id="changeUsername" name="usernameChange" type="text" required class="input" placeholder="<%= user.local.username %>"/>
                          </li>
                          <li>
                              <label for="changeEmail">Email</label><br>
                              <input id="changeEmail" name="emailChange" type="email" required class="input" placeholder="<%= user.local.email %>"/>
                          </li>
                          <li>
                              <label for="changePassword">New Password</label><br>
                              <input id="changePassword" name="passwordChange" type="password" required class="input" placeholder=""/>
                          </li>
                          <li>
                              <label for="changePasswordConfirm">Confirm New Password</label><br>
                              <input id="changePasswordConfirm" name="passwordChangeConfirm" type="password" required class="input" placeholder=""/>
                          </li>
                          <li>
                              <div id="currentPasswordConfirmation">
                                  <p>Please enter your current password to make profile changes</p><br>
                                  <label for="currentPasswordConfirm">Current Password</label><br>
                                  <input id="currentPasswordConfirm" name="passwordChangeConfirm" type="password" required class="input" placeholder=""/><br>
                              </div>
                          </li>
                          <li>
                              <br><hr><br>
                              <input type="submit" value="SAVE CHANGES" class="btn">
                          </li>
                      </ul>
                  </form>
                </div>
            </div>
            <div class="content2">
                <h2>Linked Accounts</h2>
                <br><br>
                <div class="link_account-container">
                    <a href="connect/local">
                        <div class="link_account"/>Connect to Local</div>
                    </a>
                    <div class="link_account-check"/></div>
                </div>
                <br><br>
                <div class="link_account-container">
                    <a href="connect/facebook">
                        <div class="link_account"/>Connect to Facebook</div>
                    </a>
                    <div class="link_account-check"/></div>
                </div>
                <br><br>
                <div class="link_account-container">
                    <a href="connect/gmail">
                        <div class="link_account"/>Connect to Gmail</div>
                    </a>
                    <div class="link_account-check disabled"/></div>
                </div>
                <br><br>
                <div class="link_account-container">
                    <a href="connect/twitter">
                        <div class="link_account"/>Connect to Twitter</div>
                    </a>
                    <div class="link_account-check disabled"/></div>
                </div>
                <br><br>
                <div class="link_account-container">
                    <a href="connect/linkedin">
                        <div class="link_account"/>Connect to LinkedIn</div>
                    </a>
                    <div class="link_account-check disabled"/></div>
                </div>
                <br>
            </div>
        </section>
    </section>
    <script src="/js/waypoints.js" type='text/javascript'></script>
    <script src="/js/statscounter.js" type='text/javascript'></script>
    <script src="/js/easypiechart.js" type='text/javascript'></script>
    <script src="/js/piechart1.js" type='text/javascript'></script>
</body>
</html>
